# AWS Configuration
aws_region = "ap-xxxxxxx-n"
app_name   = "berrow-books-app"

# GitHub Configuration
#github_repository   = "https://github.com/YOUR_USER/berrow-books-app"
github_repository   = "https://github.com/YOUR_USER/berrow-books-app"
github_access_token = "YOUR_GITHUB_PERSONAL_ACCESS_TOKEN"

# Application Secrets
nextauth_secret      = "YOUR_NEXTAUTH_SECRET"
resend_api_key       = "YOUR_RESEND_API_KEY"
nextauth_email_owner = "your-email@example.com"
